<!DOCTYPE html>
<html>
  <head>
    <title>My first Chartist Tests</title>
    <link rel="stylesheet"
          href="bower_components/chartist/dist/chartist.min.css">
          <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
          <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
         
  </head>
  <body>
    <script src="bower_components/chartist/dist/chartist.min.js"></script>
    <div class="ct-chart ct-golden-section ct-square" id="chart1"></div>
    <div class="ct-chart ct-golden-section ct-square" id="chart2"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity=
"sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="crossorigin="anonymous">
  </script>

    <script>
              var data = {
            // A labels array that can contain any sort of values
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            // Our series array that contains series objects or in this case series data arrays
            series: [
              [5, 2, 4, 2, 0]
            ]
          };

              var options = {
          width: 300,
          height: 200
          };

          new Chartist.Line('#chart1', {
    labels: [1, 2, 3, 4],
    series: [[100, 120, 180, 200]]
    });

    // Initialize a Line chart in the container with the ID chart2
    new Chartist.Bar('#chart2', {
    labels: [1, 2, 3, 4],
    series: [[5, 2, 8, 3]]
    });

      // Create a new line chart object where as first parameter we pass in a selector
      // that is resolving to our chart container element. The Second parameter
      // is the actual data object.
      // new Chartist.Line('.ct-chart', data);

    </script>


  </body>
</html>